@import url(./design-system.css);
@import url(./design-system-layout.css);
@import url(./nav-bar.css);
@import url(./home-layout.css);
@import url(./post-layout.css);


/* remove default margin and padding */
* {
    margin : 0;
    padding: 0px;
}

/* global component styling */

/* header */
.header {
    grid-area          : hd;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    flex-direction     : column;
    background-color   : #fdb096;
    background-image   : url(../images/header-bg.png);
    background-size    : cover;
    background-position: center;
    color              : #fffff8;
}

.header h1 {
    text-shadow: 8px 8px 0px #e5958e;
}


/* footer */
.footer {
    display         : flex;
    align-items     : center;
    justify-content : center;
    text-align      : center;
    background-color: #fdb096;
    grid-area       : ft;
}

.footer p {
    color: #fffff8;
}


/* add area outline for each section */
.hbox {
    border: 1px none #000;
}


/* change background image in mobile (phone and pad) view */
@media only screen and (max-width:1200px) {
    .header {
        background-image: url(../images/header-mobile-bg.png);

    }


}